.newsletter{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px ;
    width: 40vw;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 30%;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .container {
    padding: 20px;
    background-color: #ffffff4d;
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    text-align: center;
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: #000000;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    transition: all 0.6s;
  }
  
  input[type=submit]:hover {
    background-color: blanchedalmond;
    color:  black;
  }